<h1 class="text-5xl font-bold text-center">Kitchen Sink 🚢</h1>
<div class="container m-auto">
  <h2 class="text-2xl font-bold my-3">1. A container 📦</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam commodi, quia ad itaque perferendis omnis illum voluptates earum iste, expedita exercitationem excepturi minima nemo accusantium dolore, facilis recusandae fugiat incidunt.</p>

  <h2 class="text-2xl font-bold my-3">2. Avatars</h2>
  <img src="https://kitt.lewagon.com/placeholder/users/nicoproto"
    alt="Nico's avatar"
    class="rounded-full h-24 w-24 inline-block">
  <img src="https://kitt.lewagon.com/placeholder/users/syrashid"
    alt="Sy's avatar"
    class="rounded-full h-16 w-16 inline-block">


  <h2 class="text-2xl font-bold my-3">3. Buttons</h2>
  <a href="#" class="px-12 py-3 bg-yellow-400 text-white
    rounded border border-yellow-400 inline-block
    hover:bg-yellow-300 hover:border-yellow-300 focus:outline-none
    transition duration-300">Search</a>
  <a href="#" class="px-12 py-3 bg-white text-yellow-400
		rounded border border-yellow-400 inline-block
		hover:text-white hover:bg-yellow-400 focus:outline-none
		transition duration-300">Start reading</a>

  <h2 class="text-2xl font-bold my-3">4. Banner</h2>
</div>

<div class="h-96 bg-cover flex items-center" style="background-image: url('https://res.cloudinary.com/nico1711/image/upload/v1613321797/beach-bg.jpg');">
  <div class="container m-auto">
    <h1 class="text-5xl font-bold text-white text-shadow">Hello, I'm Bruce Banner</h1>
    <p class="text-2xl text-white my-3 text-shadow">Get it? Because it's a "banner"</p>
    <a href="#" class="px-12 py-3 bg-yellow-400 text-white
    rounded border border-yellow-400 inline-block
    hover:bg-yellow-300 hover:border-yellow-300 focus:outline-none
    transition duration-300">
      Apply now
    </a>
  </div>
</div>