<h1 class="text-5xl font-bold text-center">Kitchen Sink 🚢</h1>
<div class="container m-auto">
  <h2 class="text-2xl font-bold my-3">1. A container 📦</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam commodi, quia ad itaque perferendis omnis illum voluptates earum iste, expedita exercitationem excepturi minima nemo accusantium dolore, facilis recusandae fugiat incidunt.</p>

  <h2 class="text-2xl font-bold my-3">2. Avatars</h2>
  <img src="https://kitt.lewagon.com/placeholder/users/nicoproto"
    alt="Nico's avatar"
    class="rounded-full h-24 w-24 inline-block">
  <img src="https://kitt.lewagon.com/placeholder/users/syrashid"
    alt="Sy's avatar"
    class="rounded-full h-16 w-16 inline-block">

  <h2 class="text-2xl font-bold my-3">3. Buttons</h2>
  <a href="#" class="btn btn-main">Search</a>
  <a href="#" class="btn btn-ghost">Start reading</a>

  <h2 class="text-2xl font-bold my-3">4. Banner</h2>
</div>

<div class="h-96 bg-cover flex items-center" style="background-image: url('https://res.cloudinary.com/nico1711/image/upload/v1613321797/beach-bg.jpg');">
  <div class="container m-auto">
    <h1 class="text-5xl font-bold text-white text-shadow">Hello, I'm Bruce Banner</h1>
    <p class="text-2xl text-white my-3 text-shadow">Get it? Because it's a "banner"</p>
    <a href="#" class="px-12 py-3 bg-yellow-400 text-white
    rounded border border-yellow-400 inline-block
    hover:bg-yellow-300 hover:border-yellow-300 focus:outline-none
    transition duration-300">
      Apply now
    </a>
  </div>
</div>

<div class="container m-auto">
  <h2 class="text-2xl font-bold my-3">5. Cards</h2>

  <p class="my-3">Category card</p>
  <div class="h-48 rounded flex items-center justify-center bg-cover shadow-xl" style="background-image: url('https://res.cloudinary.com/nico1711/image/upload/v1613324207/banana-meal.jpg');">
    <h2 class="text-3xl text-white text-shadow">Banana</h2>
  </div>

  <p class="my-3">Product card</p>
  <div class="flex bg-white shadow-xl rounded">
    <img class="h-40 w-40 object-cover rounded-l" src="https://res.cloudinary.com/nico1711/image/upload/v1613325168/mango.jpg" alt="Mango">
    <div class="flex flex-col justify-center p-5">
      <h2 class="text-2xl font-bold">Mangonificent Product</h2>
      <p>Looks like a mango, works like a mango... it's actually a mango.</p>
    </div>
  </div>

  <p class="my-3">Party card</p>
  <div class="shadow-xl rounded">
    <img class="h-96 w-full object-cover rounded-t" src="https://res.cloudinary.com/nico1711/image/upload/v1613326615/pineapple-party.jpg" alt="Pineapple party">
    <div class="p-5 flex justify-between items-end">
      <div>
        <h2 class="text-2xl font-bold">You are a fine-apple</h2>
        <p>Pineapples go everywhere but pizza</p>
      </div>
      <h2 class="text-2xl font-bold">$125.99</h2>
    </div>
  </div>
</div>
<br>